table.JDC_schart {
    width: 100%;
    max-width: 800px;
    height: 24px;
    text-align: center;
    border-collapse: collapse;
    background-color: #f6f6f6;
    display: table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    word-break: normal;
    overflow-wrap: normal;
    font-size: 13px;
    vertical-align: top;
}


/*
@media screen and (max-width:600px) {
    table.JDC_schart{
    width: 480px;
    height: 24px;
    text-align: center;
    border-collapse: collapse;
    background-color: #f6f6f6;
    table-layout: fixed;
    display: table;
    margin-left: auto;
    margin-right: auto;  
    font-size: 12px 
    }

}
*/

@media screen and (max-width:600px) {
    table.JDC_schart {
        width: 100%;
        max-width: 800px;
        height: 24px;
        text-align: center;
        border-collapse: collapse;
        background-color: #f6f6f6;
        display: table;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        word-break: normal;
        overflow-wrap: normal;
        font-size: 12px;
        vertical-align: top;
    }
    table.JDC_schart td {
        font-size: 12px;
    }
    table.JDC_schart th {
        font-size: 12.5px;
        font-weight: bold;
        color: #333333;
        border-bottom: .05rem solid #e7e7e7;
        vertical-align: top;
    }
}


table.JDC_schart td,
table.JDC_schart th {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.JDC_schart tr {
    vertical-align: top;
}

table.JDC_schart td {
    font-size: 12px;
}

table.JDC_schart tr:nth-child(even) {
    background: #FFFFFF;
}

table.JDC_schart {
    background: linear-gradient(to bottom, #f8f8f8, #eee);
}

table.JDC_schart th {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    border-bottom: .05rem solid #e7e7e7;
}

table.JDC_spec {
    width: 100%;
    max-width: 800px;
    height: 24px;
    text-align: left;
    border-collapse: collapse;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

table.JDC_spec td,
table.JDC_spec th {
    border-top: .05rem solid #e7e7e7;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.JDC_spec td {
    font-size: 14px;
}

table.JDC_spec td:nth-child(odd) {
    background: #f3f3f3;
    width: 35%
}

table.JDC_table {
    width: 100%;
    max-width: 800px;
    height: 24px;
    text-align: left;
    border-collapse: collapse;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

table.JDC_table td,
table.JDC_table th {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

table.JDC_table td {
    font-size: 14px;
    vertical-align: top;
}

table.JDC_table td:nth-child(odd) {
    width: 25%
}

img.JDC_img {
    max-width: 800px;
    height: auto;
    width: 100%;
    height: auto;
    display: block;
}

p.JDC_paragraph {
    font-size: 14px;
    margin-bottom: 8px;
    word-break: normal;
    overflow-wrap: normal;
}

h1.JDC_h1 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    word-break: normal;
    overflow-wrap: normal;
}

h2.JDC_h2 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    word-break: normal;
    overflow-wrap: normal;
}

ul.JDC_bullet {
    padding-left: 20px;
    list-style: disc;
    font-size: 14px;
    word-break: normal !important;
    margin-top: 4px;
    margin-bottom: 16px;
}

li.JDC_bullet {
    list-style: disc;
}

p.JDC_bold {
    font-size: 14px;
    font-weight: 700;
    word-break: normal;
    margin-bottom: 4px;
    word-break: normal;
    overflow-wrap: normal;
}

table.JDC_three_column {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    word-break: normal;
    overflow-wrap: normal;
}

img.JDC_three_column {
    max-width: 600px;
    height: auto;
    width: 100%;
    padding: 0px;
}

p.JDC_three_column {
    padding-bottom: 18px;
    margin: 0px;
    font-size: 14px;
    word-break: normal;
    overflow-wrap: normal;
}

td.JDC_three_column_title {
    text-align: left;
    font-weight: 700;
    padding: 14px 0px 6px;
    font-size: 16px;
}

td.JDC_three_column {
    padding-right: 8px;
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
    width: 33.33%;
}

td.JDC_three_column_right {
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
    width: 32.33%;
}

tr.JDC_three_column {}

@media all and (max-width:600px) {
    table.JDC_three_column,
    tr.JDC_three_column {
        display: block;
        width: 100%;
    }
    td.JDC_three_column,
    td.JDC_three_column_right {
        padding: 0px;
        border: 0px solid #ccc;
        text-align: left;
        vertical-align: top;
        display: block;
        width: 100%;
    }
}

table.JDC_two_column {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    word-break: normal;
    overflow-wrap: normal;
}

td.JDC_two_column_title {
    text-align: left;
    font-weight: 700;
    padding-bottom: 4px;
    font-size: 18px;
}

p.JDC_two_column {
    padding-bottom: 12px;
    margin: 0px;
    font-size: 14px;
    word-break: normal;
    overflow-wrap: normal;
}

td.JDC_two_column {
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
}

td.JDC_two_column_right {
    padding: 4px;
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
    padding-left: 8px
}

img.JDC_two_column {
    max-width: 600px;
    height: auto;
    width: 93.3%;
}

table.JDC_two_column td:nth-child(odd) {
    width: 35%
}

@media all and (max-width:600px) {
    table.JDC_two_column,
    th.JDC_two_column,
    td.JDC_two_column,
    tr.JDC_two_column {
        display: block;
    }
    table.JDC_two_column td:nth-child(odd) {
        width: 100%
    }
    td.JDC_two_column_right {
        padding: 0px;
        display: block;
    }
    td.JDC_two_column_title {
        text-align: left;
        font-weight: 700;
        padding: 14px 0px 6px;
        font-size: 16px;
    }
    .horizontal_line_mobile {
        border-bottom: 0.5px solid #dddddd;
        width: 95%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.horizontal_line {
    border-top: 0.5px solid #dddddd;
    width: 95%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.JEC_center {
    margin: 0 auto;
    max-width: 800px;
}