table.JDC_schart {
    width: 100%;
    max-width: 800px;
    height: 24px;
    text-align: center;
    border-collapse: collapse;
    background-color: #f6f6f6;
    display: table;          
    margin-left: auto;         
    margin-right: auto;
}

table.JDC_schart td,
table.JDC_schart th {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.JDC_schart td {
    font-size: 13px;
}

table.JDC_schart tr:nth-child(even) {
    background: #FFFFFF;
}

table.JDC_schart {
    background: linear-gradient(to bottom, #f8f8f8, #eee);
}

table.JDC_schart th {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-bottom: .05rem solid #e7e7e7;
}

table.JDC_spec {
    width: 100%;
    max-width: 800px;
    height: 24px;
    text-align: left;
    border-collapse: collapse;    
    display: table;          
    margin-left: auto;         
    margin-right: auto;
}

table.JDC_spec td,
table.JDC_spec th {
    border-top: .05rem solid #e7e7e7;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.JDC_spec td {
    font-size: 14px;
}

table.JDC_spec td:nth-child(odd) {
    background: #f3f3f3;
    width: 35%
}

table.JDC_table {
    width: 100%;
    max-width: 800px;
    height: 24px;
    text-align: left;
    border-collapse: collapse;
    display: table;          
    margin-left: auto;         
    margin-right: auto;
}

table.JDC_table td,
table.JDC_table th {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

table.JDC_table td {
    font-size: 14px;
    vertical-align: top;
}

table.JDC_table td:nth-child(odd) {
    width: 25%
}

img.JDC_img {
    max-width: 800px;
    height: auto;
    width: 100%;
    height: auto;
    display: block;
}

p.JDC_paragraph {
    font-size: 14px;
    margin-bottom: 8px;
    word-break: normal;
    overflow-wrap: normal;
}

h1.JDC_h1 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    word-break: normal;
    overflow-wrap: normal;
}

h2.JDC_h2 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    word-break: normal;
    overflow-wrap: normal;
}


ul.JDC_bullet {
    padding-left: 20px;
    list-style: disc;
    font-size: 14px;
    word-break: normal !important;
    margin-top: 4px;
    margin-bottom: 16px;
}

li.JDC_bullet {
    list-style: disc;
}

p.JDC_bold {
    font-size: 14px;
    font-weight: 700;
    word-break: normal;
    margin-bottom: 4px;
}

table.JDC_three_column {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    word-break: normal;
    overflow-wrap: normal;
}

img.JDC_three_column {
    max-width: 600px;
    height: auto;
    width: 100%;
}

p.JDC_three_column {
    padding-bottom: 12px;
    margin: 0px;
}

td.JDC_three_column_title {
    text-align: left;
    font-weight: 700;
    padding: 4px;
}

td.JDC_three_column {
    padding: 4px;
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
    min-width: 254px;
}

@media all and (max-width:600px) {
    table.JDC_three_column,
    tr.JDC_three_column {
        display: block;
    }
    td.JDC_three_column {
        padding: 4px;
        border: 0px solid #ccc;
        text-align: left;
        vertical-align: top;
        display: block;
        width: 100%;
    }
}