@media only screen and (max-width: 480px)  {
  .full {
    display:block;
    width:100%;
  }
}
table.JDC_schart {
    width: 800px;
    max-width: 100%;
    height: 24px;
    text-align: center;
    border-collapse: collapse;
    background-color: #f6f6f6;
    display: table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 13px;
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    table.JDC_schart {
        width: 100%;
        height: 24px;
        text-align: center;
        border-collapse: collapse;
        background-color: #f6f6f6;
        display: table;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        word-break: break-word;
        overflow-wrap: break-word;
        font-size: 12px;
        vertical-align: top;
    }
    table.JDC_schart td {
        font-size: 12px;
    }
    table.JDC_schart th {
        font-size: 12.5px;
        font-weight: bold;
        color: #333333;
        border-bottom: 0.05rem solid #e7e7e7;
        vertical-align: top;
    }
}

table.JDC_schart td,
table.JDC_schart th {
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

table.JDC_schart tr {
    vertical-align: top;
}

table.JDC_schart td {
    font-size: 12px;
}

table.JDC_schart tr:nth-child(2n) {
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
}

table.JDC_schart {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, #f8f8f8, #eeeeee);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
}

table.JDC_schart th {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    border-bottom-width: 0.05rem;
    border-bottom-style: solid;
    border-bottom-color: #e7e7e7;
}

table.JDC_spec {
    width: 800px;
    max-width: 100%;
    height: 24px;
    text-align: left;
    border-collapse: collapse;
    display: table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 13px;
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    table.JDC_spec {
        width: 100%;
        height: 24px;
        text-align: left;
        border-collapse: collapse;
        display: table;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        word-break: break-word;
        overflow-wrap: break-word;
        font-size: 13px;
        vertical-align: top;
    }
}

table.JDC_spec td,
table.JDC_spec th {
    border-top-width: 0.05rem;
    border-top-style: solid;
    border-top-color: #e7e7e7;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

table.JDC_spec td {
    font-size: 14px;
}

table.JDC_spec td:nth-child(2n+1) {
    background-color: #f3f3f3;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    width: 35%;
}

table.JDC_table {
    width: 800px;
    max-width: 100%;
    height: 24px;
    text-align: left;
    border-collapse: collapse;
    display: table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 13px;
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    table.JDC_table {
        width: 100%;
        height: 24px;
        text-align: left;
        border-collapse: collapse;
        display: table;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        word-break: break-word;
        overflow-wrap: break-word;
        font-size: 13px;
        vertical-align: top;
    }
    table.JDC_spec td {
        font-size: 13px;
    }
}

table.JDC_table td,
table.JDC_table th {
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

table.JDC_table td {
    font-size: 14px;
    vertical-align: top;
}

img.JDC_img {
    max-width: 100%;
    height: auto;
    width: 800px;
    display: block;
}

p.JDC_paragraph {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    word-break: break-word;
    overflow-wrap: break-word;
}

h1.JDC_h1 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    word-break: break-word;
    overflow-wrap: break-word;
}

h2.JDC_h2 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    word-break: break-word;
    overflow-wrap: break-word;
}

ul.JDC_bullet {
    padding-left: 20px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 16px;
    word-break: break-word;
    overflow-wrap: break-word;
}

li.JDC_bullet {
    list-style: disc;
    word-break: break-word;
    overflow-wrap: break-word;
}

p.JDC_bold {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    word-break: break-word;
    overflow-wrap: break-word;
}

table.JDC_three_column {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 4px;
}

img.JDC_three_column {
    height: 256px;
    width: 256px;
    max-width: 100%;
    padding: 0px;
    object-fit: contain;
}

p.JDC_three_column {
    padding-bottom: 18px;
    margin: 0px;
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
}

td.JDC_three_column_title {
    text-align: left;
    font-weight: 700;
    padding: 14px 0px 6px;
    font-size: 14px;
}

td.JDC_three_column {
    padding-right: 12px;
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
    width: 32.8%;
}

td.JDC_three_column_right {
    border-top-width: 0px;
    border: 0px solid #ccc;
    text-align: left;
    vertical-align: top;
    width: 31.45%;
}

tr.JDC_three_column {}

@media all and (max-width: 600px) {
    table.JDC_three_column,
    tr.JDC_three_column {
        display: block;
        width: 100%;
    }
    td.JDC_three_column,
    td.JDC_three_column_right {
        padding: 0px;
        border: 0px solid #cccccc;
        text-align: left;
        vertical-align: top;
        display: block;
        width: 100%;
    }
    img.JDC_three_column {
        width: 100%;
        height: auto;
        max-height: 248px;
        padding: 0px;
        object-fit: contain;
    }
}

table.JDC_two_column {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 800px;
    display: block;
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    word-break: break-word;
    overflow-wrap: break-word;
}

td.JDC_two_column_title {
    text-align: left;
    font-weight: 700;
    padding-bottom: 4px;
    font-size: 14px;
}

p.JDC_two_column {
    padding-bottom: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
}

td.JDC_two_column {
padding: 0px;
border: 0px solid #ccc;
    text-align: left;
}


img.JDC_two_column_left {
    height: 256px;
    width: 256px;
    float: right;
    object-fit: contain;
    padding-left: 8px;
}

img.JDC_two_column_right {
    height: 256px;
    width: 256px;
    float: left;
    object-fit: contain;
    padding-right: 8px;
}

.JDC_two_column_right td:nth-child(2n+1) {
    width: 35%;
}

.JDC_two_column_left td:nth-child(2n+1) {
    width: 35%;
}

@media all and (max-width: 600px) {
    th.JDC_two_column,
    td.JDC_two_column,
    tr.JDC_two_column {
        display: block;
    }
    table.JDC_two_column {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        max-width: 800px;
        display: block;
        margin: 8px auto 0px;
        vertical-align: top;
        word-break: break-word;
        overflow-wrap: break-word;
    }
    table.JDC_two_column td:nth-child(2n+1) {
        width: 100%;
    }
    td.JDC_two_column_right {
        padding: 0px;
        display: block;
    }
    td.JDC_two_column_left {
        padding: 0px;
        display: block;
    }
    .JDC_two_column_left td:nth-child(2n) {
        width: 100%;
    }
    .JDC_two_column_right td:nth-child(2n+1) {
        width: 100%;
    }
    td.JDC_two_column_title {
        text-align: left;
        font-weight: 700;
        padding: 14px 0px 6px;
        font-size: 14px;
    }
    .horizontal_line_mobile {
        border-bottom: 0.5px solid #dddddd;
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 12px;
    }
    p.JDC_two_column {
        padding-bottom: 16px;
        font-size: 14px;
        word-break: break-word;
        overflow-wrap: break-word;
    }
    img.JDC_two_column_right, img.JDC_two_column_left {
        width: 100%;
        height: auto;
        max-height: 248px;
        padding: 0px;
        object-fit: contain;
    }
}

.JDC_horizontal_line {
    border-top-width: 0.5px;
    border-top-style: solid;
    border-top-color: #dddddd;
    width: 100%;
    max-width: 800px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 8px;
}

.JDC_center {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 800px;
}

.JDC_line_height_8px {
    line-height: 8px;
    max-width: 800px;
}

.JDC_line_height_12px {
    line-height: 12px;
    max-width: 800px;
}

.JDC_line_height_16px {
    line-height: 16px;
    max-width: 800px;
}

.JDC_line_height_20px {
    line-height: 20px;
    max-width: 800px;
}

.JDC_line_height_24px {
    line-height: 24px;
    max-width: 800px;
}

.JDC_text_center {
    text-align: center;
}

.JDC_margin_0px {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.JDC_font_size_14px {
    font-size: 14px;
}

.JDC_font_size_16px {
    font-size: 16px;
}

.JDC_font_size_20px {
    font-size: 20px;
}

.JDC_font_size_24px {
    font-size: 24px;
}

.JDC_font_size_32px {
    font-size: 32px;
}

.JDC_vertical_align_middle {
    vertical-align: middle;
}

.JDC_vertical_align_top {
    vertical-align: top;
}